<!-- <router-outlet></router-outlet> -->


<div class="container">
    <app-employee-add></app-employee-add>


    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Designation</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of emplist; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{emp.name}}</td>
            <td>{{emp.email}}</td>
            <td>{{emp.phone}}</td>
            <td>{{emp.designation}}</td>
            <td>
                <button class="btn btn-warning" (click)="functionedit(i)">Edit</button> | 
                <button class="btn btn-danger" (click)="onDeleteUser(i)">Delete</button>
            </td>
          </tr>
       
       
        </tbody>
      </table>
</div>