<div class="container">
    <div class="card-box">
        <div class="row">
            <div class="col-sm-4">
                <a routerLink="create" class="btn btn-success btn-rounded">Add New</a>
            </div>
        </div>
    </div>
    
    <br>
    
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
       
       
        </tbody>
      </table>
</div>