.navbar.nav-background {
    background-color:#6cf;
}
/*.navbar{
    background-color: green;
}
*/

.navbar-light .navbar-nav .nav-link{
    color: #000;
    font-size: 18px;
}

// .navbar-light .navbar-nav .nav-link:hover{
    
// }


.navbar-brand{
    color: white;
    font-size: 22px;
}
.nav-link{
    color: white;
}

.dropdown-bg{
    background: green;
}

.nav-content{
display:flex;
}

.logo a{
    width: 50px;
}


.footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
 }