<nav class="navbar nav-background navbar-expand-lg navbar-expand-md navbar-light ">
  <div class="container">
    <div class="logo d-flex">
      <a routerLink="home"><img src="assets/img/logo.png" class="img-fluid d-none d-md-block"></a>
      <a routerLink="home"><img src="" class="img-fluid d-xl-none d-lg-none d-md-none"></a>          
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <div class="nav-content">
          <li class="nav-item active">
            <a class="nav-link" routerLink="">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="employee">Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Logout</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="" data-toggle="dropdown">
              Dropdown
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="">Action</a>
              <a class="dropdown-item" routerLink="">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="">Something else here</a>
            </div>
          </li>
        </div>

      </ul>

    </div>
  </div>
</nav>


<router-outlet></router-outlet>

<div class="footer">
  <p>footer works!</p>
</div>
